extends navLogedIn.pug

block title
    title Mein Profil

block content_title
    h1 Mein Profil

block main_content
    div(id="user_profile_container")
        div(id="user_overview_container")
            div(class="row")
                div(class="col-5")
                    <img id="large_profile_pic" src="img/users/#{user.profile_pic}.png" alt="My profile picture">

                    div(class="list-group" id="file_uploader_container")
                        form(action="myProfile" method="post" enctype="multipart/form-data")
                            div(class="form-group mb-2")
                                label(for="file_upload") Profilbild ändern
                                input(class="form-control" id="file_upload" type="file" name="file_upload" placeholder="Hier .png auswählen" size="500")

                            div(class="form-group mb-2")
                                button(type="submit" class="btn btn-primary mt-2") Bild ändern

                    div(id="user_information")
                        p(class="regular_paragraph") #{user.name}
                        p(class="light_paragraph") OTHer Handle: @#{user.name}
                        p(class="regular_paragraph") Mitglied seit #{user.created}
                        p(class="regular_paragraph") Geboren am #{user.birthday}

                div(class="col")
                    div(id="user_overview_text_container")
                        div(id="profile_text")
                            p(class="bold_paragraph") Über mich
                            p(class="regular_paragraph" id="bio_text") #{user.bio_text}

                    div(id="updateBioContainer")
                        form(action="/updateBio" method="post")
                            div(class="from-group mb-2")
                                label(for="updateBio") Ändere deine Beschreibung
                                textarea(class="form-control" id="updateBio" rows="3" name="updateBio" placeholder="Erzähle etwas über dich...")

                            div(class="form-group")
                                button(type="submit" class="btn btn-primary mt-2") Beschreibung ändern

    div(id="user_others_container")
        div(class="list-group")
            div(id="status_bar")
                p(class="bold_paragraph") #{postcount} mal geOTHert
                p(class="bold_paragraph") Dir folgen: #{followee}
                p(class="bold_paragraph") Du folgst: #{follower}

            each post in posts
                li(class="list-group-item")
                    div(id="post_outer_container")

                        div(id="post_user_pic")
                            <img id="profile_pic" src="img/users/#{user.profile_pic}.png" alt="pp">

                        div(id="post_user_content")
                            div(id="name_created")
                                p(id="user_name") #{user.name}
                                p(class="user_addition") @#{user.name}
                                <p class="user_addition"> - #{post.created}</p>
                            p(class="post_text") #{post.text}

                        div(class="d-grid gap-2 col-6 mx-auto")
                            a(class="btn btn-danger" href="/deleteOther/" + post.post_id) OTHer löschen